@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Basic CSS styling */

:root {
    --primaryColor: #000033;
    --backgroundColor: #f2f2f2;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Lato", sans-serif;
    background-color: var(--backgroundColor);
}

/* Main content and nav area styling */

#main-content {
    min-height: 98vh;
    max-height: 100vh;
    width: 98%;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#main-content.home {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    position: fixed;
    z-index: 20;
    font-size: 2rem;
    top: 25px;
    left:50px;
    color: var(--primaryColor)
}

.nav {
    background-color: var(--primaryColor);
    background-image: url("../Images/Menu-Icon.png");
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    width: 60px;
    height: 60px;
    position: fixed;
    z-index: 20;
    top: 25px;
    right: 50px;
}

.nav.active {
    background-image: url("../Images/Menu-Icon-Reset.png");
}

.nav:hover {
    background-color: red;
}

.nav-menu {
    width: 100%;
    height: 110vh;
    background-color: var(--backgroundColor);
    position: fixed;
    left: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 19;
}

.nav-menu.active {
    left: 0;
}

.nav-menu-items {
    list-style: none;
    text-align: center;
    position: relative;
}

.nav-menu-items li {
    position: relative;
    margin-bottom: 5px;
}

.nav-menu-items li a {
    text-decoration: none;
    color: var(--primaryColor);
    font-size: 3rem;
    letter-spacing: 2.5px;
}

.nav-menu-items li a:hover {
    color: red;
}

/* Home page styling */

#main-content .main-info {
    max-width: 750px;
    margin-left: 250px;
    z-index: 5;
}

#main-content .main-info h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: var(--primaryColor);
}

#main-content .main-info h6 {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

#main-content .main-info span {
    font-style: italic;
}

#main-content .main-sidebar {
    height: 100%;
}

#main-content .main-sidebar img {
    bottom: 0;
    right: 0;
    height: 100%;
    position: absolute;
}

/* Seconday info base styling */

.secondary-info {
    position: relative;
    margin-top: 200px;
    margin-bottom: 100px;
    width:100%;
    text-align: center;
    font-size: 3rem;
    color: var(--primaryColor);
}

/* Education styling */

.education-content {
    min-width: 50%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.education-content .education-card {
    width: 325px;
    height: 465px;
    margin:auto;
    background-color: #e6e6e6;
    /* box-shadow: 0px 5px 40px rgba(0,0,0,0.8); */
    text-align: center;
    border-radius: 20px;
}

.education-content .education-card:hover {
    box-shadow: 0px 0px 50px rgba(0,0,0,0.8);

}

.education-content .education-card img {
    width: 305px;
    border: 2px solid #666666;
    border-radius: 20px;
    height: 240px;
    margin: 10px;

}

.education-content .education-card h3 {
    padding: 0px 20px;
    margin-bottom: 15px;
    font-size: 1.5rem;
    font-weight: bolder;
}

.education-content .education-card:hover h3 {
    color: red;
}

.education-content .education-card h6 {
    padding: 0px 15px;
    font-size: .95rem;
}

/* Skills styling */

.skills-content {
    min-width:50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.skills-content .skills-card {
    width: 350px;
    height: 250px;
    margin: auto;
    background-color: #e6e6e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    text-align: center;
}

.skills-content .skills-card:hover {
    box-shadow: 0 0 50px rgb(0,0,0, 0.8);
}

.skills-content .skills-card:hover i {
    color: red;
}

.skills-content .skills-card i {
    margin: 25px 10px;
}

.skills-content .skills-card h2 {
    padding: 0 10px;
    margin-bottom: 10px;
}

.skills-content .skills-card h5 {
    padding: 0 10px;
}

